@using Microsoft.AspNetCore.Identity
@using IoTPortal.Identity.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbar-my-devices-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            My Devices
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbar-my-devices-dropdown">
            <li><a class="dropdown-item" asp-page="/MyDevices/Index">My Devices</a></li>
            <li><a class="dropdown-item" href="#">Create New</a></li>
        </ul>
    </li>
}
else
{
    @Html.Raw("");
}