@page
@model IoTPortal.Web.Pages.MyDevices.IndexModel
@{
    ViewData["PrivateTitle"] = "My Devices";
    ViewData["PrivateSubtitle"] = "Overview and manage your devices";
}

<div id="devices"></div>

@section Scripts {
    <script type="text/javascript" src="~/js/pages/my-devices.js"></script>
    <script type="text/javascript">
        $(function () {
            MyDevicesJs.init({
                myDevicesUrl: '@Html.Raw(Url.Page("/MyDevices/Index", "DeviceGrid"))'
            });
            MyDevicesJs.loadMyDevices();
        });
    </script>
}