@using IoTPortal.Web.Helpers
@{
    this.SetPageType(PageType.ManageAccount);
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout != null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_LayoutPublic.cshtml";
    }
}


<div class="row">
    <div class="col-md-3 border-end">
        <partial name="_ManageNav" />
    </div>
    <div class="col-md-9">
        <h3>Manage your account</h3>
        <h2>Change your account settings</h2>
        <hr />
        @RenderBody()
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
